.index-page-container {
    display: flex;
    flex-direction: column;
}
.header-logo-text-and-button {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}
.profile-edit-page-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:right;
}
.profile-edit-page-button-image {
    width: 50px;
}
.profile-list-ul {
    display:flex;
    flex-direction: column; 
    /* try changing flex-direction to row for horizontal scrolling. */
    list-style-type: none;
    padding: 0%
}
.profile-card-container {
    display:flex;
    justify-content: center;
}
.profile-pictures {
    width: 430px;
}
.name-container {
    font-size:xx-large;
    font-weight:700;
}
.bio-container {
    display: flex;
    font-weight:500;
    font-size: larger;
    justify-content: start;
    padding-left: 20px;
}
.overall-score-container {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: larger;
    text-decoration: underline;
}
.like-dislike-container {
    display:flex;
    justify-content: center;
    border-top: 1px solid;
}
.heart-image {
    border-right: 1px solid;
    border-color: black;
    height: 150px;
    padding-right: 30px
}
.x-image {
    height: 150px;
    padding-left: 30px;
}